@import url('https://fonts.googleapis.com/css2?family=Forum:wght@100;300;500;700&display=swap');
:root {
    --dark-color: #6C4A4A;
    --medium-color: #C89595;
    --normal-color: #DDBEBE;
    --light-color: #EDEDED;
}
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Forum', sans-serif;
    font-weight: 300;
}
body {
    background: var(--normal-color);
}
input[name="r"] {
    display: none;
    visibility: hidden;
}
.slider {
    height: 100vh;
    width: 70vw;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.slides {
    width: 100%;
    height: calc(40vw - 20px);
    display: flex;
}
.slide {
    animation-duration: 2s;
    width: 100%;
    height: 100%;
    background: center / cover no-repeat url(../assets/mems/1.jpg);
}
.navigation {
    margin-top: 20px;
    padding: 0 20px;
    width: calc(100%);
    height: calc(20vh - 80px);
    min-height: 50px;
    background: var(--dark-color);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}
.dots {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
.dot {
    transition: 0.5s all;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--light-color);
    cursor: pointer;
    &:hover {
        background: var(--medium-color);
    }
    &:checked {
        border: 3px solid var(--light-color);
        background: var(--dark-color);
    }
    
}
.labels {
    width: auto;
}
.label {
    animation-duration: 2s;
    display: none;
    font-size: 24px;
}

@keyframes slide1 {
    0% {opacity: 0; transform: scale(0);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide2 {
    0% {opacity: 0; transform: scale(0);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide3 {
    0% {opacity: 0; transform: scale(0);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide4 {
    0% {opacity: 0; transform: scale(0);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide5 {
    0% {opacity: 0; transform: scale(0);}
    100% {opacity: 1; transform: scale(1);}
}

@keyframes mem1 {
    0% {margin-left: -50%;}
    100% {margin-left: 0;}
}

#r1:checked ~ .slides .slide {
    animation-name: slide1;
    background: center / cover no-repeat url(../assets/mems/monkey-pissed.gif);
    //margin-left: 0;
}
#r1:checked ~ .navigation .dots .dot:nth-child(1) { 
    @include dot_checked;
}
#r1:checked ~ .navigation .labels .label:nth-child(1) { 
    animation-name: mem1;
    display: block;
    
}
#r2:checked ~ .slides .slide {
    animation-name: slide2;
    //margin-left: -20%;
    background: center / cover no-repeat url(../assets/mems/monkey-computer-not-working.gif);
}
#r2:checked ~ .navigation .dots .dot:nth-child(2) { 
    @include dot_checked;
}
#r2:checked ~ .navigation .labels .label:nth-child(2) { 
    animation-name: mem1;
    display: block;
}
#r3:checked ~ .slides .slide {
    animation-name: slide3;
    //margin-left: -40%;
    background: center / cover no-repeat url(../assets/mems/work-angry.gif);
}
#r3:checked ~ .navigation .dots .dot:nth-child(3) { 
    @include dot_checked;
}
#r3:checked ~ .navigation .labels .label:nth-child(3) { 
    animation-name: mem1;
    display: block;
}
#r4:checked ~ .slides .slide {
    animation-name: slide4;
    background: center / cover no-repeat url(../assets/mems/tw-tech-support-pc.gif);
}
#r4:checked ~ .navigation .dots .dot:nth-child(4) { 
    @include dot_checked;
}
#r4:checked ~ .navigation .labels .label:nth-child(4) { 
    animation-name: mem1;
    display: block;
}
#r5:checked ~ .slides .slide {
    animation-name: slide5;
    background: center / cover no-repeat url(../assets/mems/cat-asleep.gif);
}
#r5:checked ~ .navigation .dots .dot:nth-child(5) { 
    @include dot_checked;
}
#r5:checked ~ .navigation .labels .label:nth-child(5) { 
    animation-name: mem1;
    display: block;
}

@media (max-width: 800px) {
    .slider {
        width: 90vw;
    }
    .slides {
        width: 100%;
        height: calc(80vw - 20px);
    }
    .navigation {
        margin-top: 20px;
        padding: 20px 20px;
        width: 100%;
        height: calc(20vh - 60px);
        min-height: 100px;
        flex-wrap: wrap-reverse;
    } 
    .labels {
        width: 100%;
    }
    .label {
        font-size: 16px;
    }
    .dots {
        width: 100%;
        justify-content: center;
    }
    .dot {
        width: 15px;
        height: 15px;
    }
}


