
:root {
    --dark-color: #6C4A4A;
    --medium-color: #C89595;
    --normal-color: #DDBEBE;
    --light-color: #EDEDED;
}
@import 'mixins';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--normal-color);
}
input[name="r"] {
    display: none;
    visibility: hidden;
}
.slider {
    height: 100vh;
    width: 70vw;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.slides {
    width: 100%;
    height: calc(80vh - 20px);
    display: flex;
}
.slide {
    animation-duration: 1s;
    width: 100%;
    height: 100%;
    background: center / cover no-repeat url(../assets/mems/1.jpg);
    // background-repeat: no-repeat;
    // //background-position: center;
    // background-size: cover;
    // img {
    //     width: 100%; 
    //     height: 100%;
    //     object-fit: cover;
    // }
}
.navigation {
    margin-top: 40px;
    padding: 0 20px;
    width: calc(100%);
    height: calc(20vh - 60px);
    background: var(--dark-color);
    display: flex;
    align-items: center;
}
.dots {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.dot {
    transition: 0.5s all;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--light-color);
    &:hover {
        background: var(--medium-color);
    }
    &:checked {
        border: 3px solid var(--light-color);
        background: var(--dark-color);
    }
    
}
.labels {
    width: 80%;
}
.label {
    display: none;
}

@keyframes slide1 {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide2 {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide3 {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide4 {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
@keyframes slide5 {
    0% {opacity: 0; transform: scale(0.6);}
    100% {opacity: 1; transform: scale(1);}
}
#r1:checked ~ .slides .slide {
    animation-name: slide1;
    background: center / cover no-repeat url(../assets/mems/1.jpg);
    //margin-left: 0;
}
#r1:checked ~ .navigation .dots .dot:nth-child(1) { 
    @include dot_checked;
}
#r1:checked ~ .navigation .labels .label:nth-child(1) { 
    display: block;
}
#r2:checked ~ .slides .slide {
    animation-name: slide2;
    //margin-left: -20%;
    background: center / cover no-repeat url(../assets/mems/2.jpg);
}
#r2:checked ~ .navigation .dots .dot:nth-child(2) { 
    @include dot_checked;
}
#r2:checked ~ .navigation .labels .label:nth-child(2) { 
    display: block;
}
#r3:checked ~ .slides .slide {
    animation-name: slide3;
    //margin-left: -40%;
    background: center / cover no-repeat url(../assets/mems/3.jpg);
}
#r3:checked ~ .navigation .dots .dot:nth-child(3) { 
    @include dot_checked;
}
#r3:checked ~ .navigation .labels .label:nth-child(3) { 
    display: block;
}
#r4:checked ~ .slides .slide {
    animation-name: slide4;
    background: center / cover no-repeat url(../assets/mems/4.jpg);
}
#r4:checked ~ .navigation .dots .dot:nth-child(4) { 
    @include dot_checked;
}
#r4:checked ~ .navigation .labels .label:nth-child(4) { 
    display: block;
}
#r5:checked ~ .slides .slide {
    animation-name: slide5;
    background: center / cover no-repeat url(../assets/mems/5.jpg);
}
#r5:checked ~ .navigation .dots .dot:nth-child(5) { 
    @include dot_checked;
}
#r5:checked ~ .navigation .labels .label:nth-child(5) { 
    display: block;
}
// .container {
//     height: 100vh;
//     width: 70vw;
//     margin: 0 auto;
//     padding: 20px 0;
//     box-sizing: border-box;
// }
// .slide-wrapper {
//     width: 100%;
//     height: calc(80vh - 20px);
// }
// .slide-item {
//     width: 100%;
//     height: 100%;
//     display: none;
//     img {
//         width: 100%; 
//         height: 100%;
//         object-fit: cover;
//     }
//     &_active {
//         display: block;
//     }
// }
// .control-wrapper {
//     margin-top: 40px;
//     padding: 0 20px;
//     width: calc(100% - 40px);
//     height: calc(20vh - 60px);
//     background: var(--dark-color);
//     display: flex;
//     align-items: center;
// }
// .control-labels {
//     width: 80%;
// }
// .control-dots {
//     width: 20%;
//     display: flex;
//     justify-content: flex-end;
// }
// .control-dot {
//     height: calc(20vh - 60px);
//     display: flex;
//     align-items: center;
//     width: 40px;
//     cursor: pointer;
    
//     div {
//         transition: 0.5s all;
//         margin-left: 20px;
//         width: 20px;
//         height: 20px;
//         border-radius: 50%;
//         background: var(--light-color);
//     }
//     &:hover {

//         div {
//             background: var(--medium-color);
//         }
//     }
//     &:active {
//         div {
//             box-sizing: border-box;
//             border: 3px solid var(--light-color);
//             //border-color: var(--light-color);
//             background: var(--dark-color);
//         }
//     }
// }
// .control-label {
//     display: none;

//     &_active {
//         display: block;
//     }
// }